basePath: /api
definitions:
  dto.CreateOrderRequest:
    properties:
      discount_percent:
        type: integer
      product_id:
        type: integer
      quantity:
        type: integer
    type: object
  model.Product:
    properties:
      id:
        type: integer
      name:
        type: string
      price:
        format: float64
        type: number
      stock:
        type: integer
    type: object
host: localhost:8080
info:
  contact: {}
  description: Mini Inventory System
  title: PBF Farmasi API
  version: "1.0"
paths:
  /order:
    post:
      consumes:
      - application/json
      parameters:
      - description: Order
        in: body
        name: order
        required: true
        schema:
          $ref: '#/definitions/dto.CreateOrderRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "409":
          description: Conflict
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Buat order
      tags:
      - Orders
  /products:
    get:
      description: Ambil semua data produk
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Product'
            type: array
      summary: List produk
      tags:
      - Products
    post:
      consumes:
      - application/json
      parameters:
      - description: Product
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/model.Product'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/model.Product'
      summary: Tambah produk baru
      tags:
      - Products
swagger: "2.0"
